@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4fcfaf;
  padding: 0 20px;
  transition: all 0.4s ease;
}
section.dark {
  background-color: #24292d;
}
section .containe {
  display: flex;
  justify-content: center;
  height: 220px;
  max-width: 560px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
}
section.dark .containe {
  background: #323840;
}
section .containe .iconss i {
  position: absolute;
  right: 17px;
  top: 17px;
  height: 30px;
  width: 30px;
  background: #24292d;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
}
section.dark .containe .iconss i {
  background: #fff;
  color: #323840;
}
.containe .iconss i.bi-sun-fill {
  opacity: 0;
  pointer-events: none;
}
section.dark .containe .iconss i.bi-sun-fill {
  opacity: 1;
  pointer-events: auto;
  font-size: 16px;
}

section .containe .timee {
  display: flex;
  align-items: center;
}

.containe .timee .timee-colon {
  display: flex;
  align-items: center;
  position: relative;
}
.timee .timee-colon .am_pm {
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
section.dark .timee .timee-colon .am_pm {
  color: #fff;
}
.timee .timee-colon .timee-texk {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4fcfaf;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
section.dark .timee-colon .timee-texk {
  background: #24292d;
}
.timee .timee-colon .timee-texk,
.timee .timee-colon .colon {
  font-size: 35px;
  font-weight: 600;
}

section.dark .timee .timee-texk .num,
section.dark .timee .colon {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.timee .timee-colon .colon {
  font-size: 40px;
  margin: 0 10px;
}
.timee .timee-colon .texk {
  font-size: 40px;
  margin: 0 10px;
}

section.dark .timee .timee-colon .texk {
  color: #fff;
}

.timee .timee-colon .timee-texk .texk {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}
